<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admissions</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('academic') }}">Departments</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('admission_notices') }}">Admissions</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('about_us') }}">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
    </ul>
</nav>


</body>

</html>

